/*Console App Image*/
        .consoleapp-image {
            border-radius:10px;
            width:100%;
        }
        .console-image-container-virtualpet {
            height:400px;
            vertical-align:middle;
            background-color:rgb(0,0,0);
            border-radius:10px;
        }
        .console-image-container-bankaccount {
            height:400px;
            vertical-align:middle;
            background-color:rgb(255,255,255);
            border-radius:10px;
        }
        .consoleapp-desc {
            height:100%;
            min-height:200px;
        }
        /*Change height of console app image containers when screen is smaller*/
        @media (max-width:768px) {
            .console-image-container-bankaccount {
                height:250px;
            }
            .console-image-container-virtualpet {
                height:250px;
            }
        }

/*PROFILE IMAGE*/
        #banner .content .image.profile img{
            border-radius:0;
        }

/*HELLO HEADER*/
        h2.hello {
            letter-spacing: .15em;
        }
